<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="style.css" rel="stylesheet">
<link rel="stylesheet" href="./css/style.css">

<title>Apresentação</title>
</head>
<body>

	<form method="GET" action="/index">

		<div class="home-nome">
			<div>
				<h1>HOME</h1>
			</div>
			<ul class="list-group">
				<li>Eduarda Clemente Almeida RGM:</li>
				<li>Beatriz Sales de Souza RGM: 26887916</li>
				<li>Everton Clayton de Moraes RGM: 28202821</li>
				<li>Geovana Dias Alvarenga RGM: 26806673</li>
				<li>Marcus Vinicius Cavalcanti Machado RGM: 25811894</li>
			</ul>
		</div>

		<button type="submit">SUPRESA!!</button>
		<button type="submit">MENU INICIAL</button>


	</form>

	<footer>
		<div class="flex-container footer">
			<p>&copy; 2022 Disciplina Cliente/Servidor</p>
			<p>Desenvolvido por: Eduarda, Marcus, Everton, Beatriz e Geovanna.</p>
		</div>
	</footer>

</body>
</html>