<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="style.css" rel="stylesheet">
<link rel="stylesheet" href="./css/static/style.css">


<title>Apresentação</title>
</head>
<body>
	<main class="main-index"> 


		<div class="home">
			<div class="home-nome">
				<h1>Projeto Sistemas Cliente/Servidor</h1>
			</div>
			<ul class="list-group">
				<li>Eduarda Clemente Almeida RGM: 29633630</li>
				<li>Beatriz Sales de Souza RGM: 26887916</li>
				<li>Everton Clayton de Moraes RGM: 28202821</li>
				<li>Geovana Dias Alvarenga RGM: 26806673</li>
				<li>Marcus Vinicius Cavalcanti Machado RGM: 25811894</li>
			</ul>
		</div>

	<div class="button-index">
	
		<button name ="btSupresa"><a href="/">🐱‍👤🐱‍👤🐱‍👤</a></button>
		
	 	<button name ="btMenu"><a href="/login">LOGIN 😍 </a></button> 
	</div>



	<footer>
		<div class="footer-index">
			<p>&copy; 2022 Disciplina Cliente/Servidor</p>
			<p>Desenvolvido por: Eduarda, Marcus, Everton, Beatriz e Geovana.</p>
		</div>
	</footer>
	</main>

</body>
</html>